.fileView-container{
    padding: 15px;
}

.fileViewRow-container{
    height: 250px;
    display: flex;
    align-items: center;
}

.fileViewTitles-container{
    display: flex;
    margin-bottom: 5px;
    color: rgb(85, 78, 78);
}

.fileViewTitles-container>div>*{
    margin: 5px;
}

.fileViewTitlesLeft-container{
    flex: 1;
}

.fileViewTitlesRight-container{
    display: flex;
}
.breadcrumb {
    margin: 10px 0 20px 0;
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumb span:hover {
    text-decoration: none;
}

.breadcrumb>span {
    color: rgb(82,82,82);
    font-size: 20px;
}
  